@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@font-face {
  font-family: minionFont;
  src: url(minion.otf);
}

$dim_level : 0.55;

.popup_box_container{
  position:fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2000;
  display:none;
}
.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}
#imageContainer{
  position:relative;
  width:100%;
  height:400px;
  margin-top:5px;
  float: left;
  display:none;
}
#tips{
  position:relative;
  width:100%;
  float: left;
  display:none;
}
.print_container{
  position: relative;
  margin: 20px auto;
  //min-height: 600px;
  min-width: 980px;
  width:980px;
  height: auto;
  background-color: red;
}
.a4Container{
  font-family: minionFont;
  position: relative;
  float: left;
  width: 940px;
  height: 1219px;
  margin: 10px 0px;
  background: white;
  #header{
    position: relative;
    margin: 10px auto;
    width: 20%;
    height: 5%;
    img{
      width:100%;
      height:auto;
    }
  }
  #content{
    position:relative;
    margin: 0 auto;
    width:100%;
    height:85%;
    color:black;
    font-size:16px;
    text-align:center;
    text-align: left;
    #title{
      position:relative;
      font-weight: bold;
      //float:left;
      //width:94%;
      height:auto;
      text-align: center;
      //margin: 10px 3%;
      margin-bottom: 30px;
    }
    #time{
      position:relative;
      float:left;
      width:94%;
      height:auto;
      margin: 10px 3%;
    }
    #item_pic{
      position:relative;
      float:left;
      width:48%;
      height:auto;
      margin: 5px 3% 3% 3%;
    }
    .firstCol{
      position: relative;
      float: left;
      width: 100px;
    }
    .quote{
      width: 10px;
      position: relative;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
    }
    .thirdCol{
      position: relative;
      float: left;
      width: 740px;
    }
    #des{
      position:relative;
      color:black;
      float:left;
      //width:1%;
      height:auto;
      //margin: 10px 3%;
      margin-top:40px;
      font-size:16px;
      text-align: left;
    }
    #itemImage{
      position: relative;
      width: 500px;
      margin: auto;
      height: auto;
      display: block;
    }
    #itemTitle{
      font-weight: bold;
      margin: auto;
      width: 100%;
      position: relative;
      text-align: center;
    }
  }
  .footer{
    position:relative;
    margin: 0 auto;
    width:70%;
    height:40px;
    text-align: center;
  }
}

.popup_box{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  min-height: 200px;
  max-height: 90%;
  max-width: 800px;
  overflow: auto;
  @include border-radius(4px);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #6c6f71;
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  padding: 20px;
  overflow:hidden;
  .input{
    box-sizing: border-box;
    width: 48.6%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px;
    padding-bottom: 15px;
    label{
      width:100%;
    }
    select,input{
      width:100%
    }
  }
  h1{
    color: #67532F;
  }
  .closeBtn{
    right: 7px;
    top: 7px;
  }
  label,select,input{
    width:100%;
  }

  .tips{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 29px;
  }
}
.closeBtnPrint{
  position: absolute;
  top: 13px;
  right: 10px;
  width: 19px;
  height: 18px;
  cursor: pointer;
  background: url("../images/close.png") no-repeat;
}

.popup_big{
  min-height: 600px;
  min-width: 980px;
  input,label{
    width:auto;
  }
  .closeBtn{
    top:13px;
    right:13px;
  }
  #tabletBG{
    float:left;
    width:100%;
    height:641px;
    background-image:url("../images/samsung_tab2.png");
    background-repeat:no-repeat;
    background-size:cover;
    #appBGContainer{
      position: absolute;
      width: 795px;
      height: 498px;
      margin: 0 0;
      top: 116px;
      left: 93px;
      #appBG{
        position: absolute;
        width: 100%;
        height: 100%;
        //filter: blur(1px);
        //-webkit-filter: blur(1px);

        background-image: url("../images/general_item_base.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      #dimmer{
        position: absolute;
        width: 100%;
        height: 100%;
        //filter: blur(1px);
        //-webkit-filter: blur(1px);

        background-image: url("../images/dimmer.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      #itemImage{
        position: absolute;
        top: 68px;
        left: 302px;
        width: 471px;
        height: 362px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      #itemImage.subcat{
        top: 95px;
        left: 305px;
        width: 466px;
        height: 94px;
      }
      #overlayBox{
        position: absolute;
        top: 68px;
        left: 382px;
        width: 391px;
        height: 362px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox1{
        position: absolute;
        top: 61px;
        left: 0;
        width: 42px;
        height: 86%;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox1.subcat{
        top: 35px;
        width: 42px;
        height: 93%;
      }
      #overlayBox1.food{
        top: 203px;
        width: 294px;
        height: 58%;
      }
      #overlayBox1.foodDetail{
        top: 35px;
        width: 214px;
        height: 93%;
      }
      #overlayBox2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox2.subcat{
        height: 88px;
      }
      #overlayBox2.food{
        height: 203px;
      }
      #overlayBox2.foodDetail{
        height:35px;
      }
      #overlayBox3{
        position: absolute;
        top: 61px;
        left: 253px;
        width: 38px;
        height: 392px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox3.subcat{
        top: 88px;
        width: 43px;
        height: 392px;
      }
      #overlayBox3.food{
        top: 35px;
        left: 783px;
        width: 26px;
        height: 435.5px;
      }
      #overlayBox3.foodDetail{
        top: 35px;
        left: 588px;
        width: 207px;
        height: 432px;
      }
      #overlayBox4{
        position: absolute;
        top: 118px;
        left: 42px;
        width: 211px;
        height: 375px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox4.subcat{
        top: 149px;
        left: 42px;
        width: 211px;
        height: 345px;
      }
      #overlayBox4.food{
        top: 251px;
        left: 294px;
        width: 489px;
        height: 215px;
      }
      #overlayBox4.foodDetail{
        width: 0px;
        height: 0px;
      }
      #overlayBox5{
        position: absolute;
        top: 441px;
        left: 291px;
        width: 504px;
        height: 16px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox5.subcat{
        top: 91px;
        left: 778px;
        width: 18px;
        height: 362px;
      }
      #overlayBox5.food{
        width: 0px;
        height: 0px;
      }
      #overlayBox5.foodDetail{
        width: 0px;
        height: 0px;
      }
      #overlayBox6{
        position: absolute;
        top: 59px;
        left: 785px;
        width: 11px;
        height: 382px;
        background-color:rgba(0, 0, 0, $dim_level);
      }
      #overlayBox6.subcat{

        top: 194px;
        left: 296px;
        width: 484px;
        height: 266px;
      }
      #overlayBox6.food{
        width: 0px;
        height: 0px;
      }
      #overlayBox6.foodDetail{
        width: 0px;
        height: 0px;
      }
      #arrowBtn{
        position: absolute;
        top: 210px;
        left: 354px;
        width: 28px;
      }
      #zoom_container{
        position: absolute;
        top: 73px;
        left: 686px;
      }
      #zoomInBtn{
        flaot:left;
        margin-left:-2px;
        position: relative;
        width: 40px;
      }
      #zoomOutBtn{
        flaot:left;
        margin-right: -3px;
        position: relative;
        width: 40px;
      }
      #description_text, #itemTitle, #parentTitle{
        color:white;
      }
      #description_text_container{
        position: absolute;
        font-size: 16px;
        top: 103px;
        left: 382px;
        width: 391px;
        height: 326px;
        padding:10px;
        overflow: hidden;
        #description_text{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          padding: 10px;
          padding-right: 20px;
          right: -18px;
          overflow: auto;
        }
      }

      #itemTitle{
        position: absolute;
        top: 64px;
        left: 47px;
        width: 201px;
        height: 51px;
        vertical-align: middle;
        overflow: hidden;
        font-size: 15px;
        #itemTitleText{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height:50px;

        }
      }
      #itemTitle.subcat{
        top: 94px;
      }
      #itemTitle.food{
        top: 207px;
        left: 310px;
        width: 367px;
        height: 38px;
      }
      #parentTitle{
        position: absolute;
        top: 5px;
        left: 71px;
        width: 251px;
        height: 31px;
        overflow: hidden;
        font-size: 18px;
      }
      #foodText{
        position: absolute;
        cursor: pointer;
        top: 217px;
        left: 310px;
        width: 367px;
        height: 18px;
        overflow: hidden;
        color:white;
      }
      #priceText{
        position: absolute;
        cursor: pointer;
        top: 217px;
        left: 690px;
        width: 67px;
        height: 18px;
        color:white;
      }
      #greyPopupBox{
        position: absolute;
        color: white;
        top: 35px;
        left: 214px;
        width: 374px;
        height: 430px;
        font-size: 14px;
        background: rgb(100, 100, 100);
        border-radius: 5px;
        #closeBtn{
          position: relative;
          float: right;
          margin-top: 10px;
          margin-right: 10px;
          width: 25px;
          height: 24px;
          cursor: pointer;
        }
        #title{
          position: relative;
          float: left;
          width: 100%;
          text-align: center;
          height: auto;
          margin-top:10px;

        }
        #price{
          position: relative;
          float:left;
          width: 100%;
          text-align: center;
          height: auto;
        }
        #description{
          position: relative;
          float: left;
          width: 100%;
          height: auto;
          margin: 30px 0px;
          padding: 10px;
        }
      }
    }
  }
  #optionsArea{
    margin-top:5px;
    margin-left:5px;
    position: relative;
    width: 100%;
    height: auto;
    float:left;
    #imageText,#desText,#highlightText, #descriptionOption, #imageOption, #highlightOption{
      float:left;
    }
    #imageText,#desText,#highlightText{
      margin-right:10px;
    }

  }
}

.photo_box{
  #head{
    position: absolute;
    width: 99%;
    height: 60px;
    left: 0px;
    top: 10px;
    padding: 0 10px;
  }
  #middle{
    margin-top:70px;
    margin-bottom:70px;
    max-height:510px;
    position:relative;
    width:100%;
    float:left;

  }
  #foot{
    position: absolute;
    width: 97%;
    height: 60px;
    bottom: 10px;
    left: 0px;
  }
}
.addKey_box{
  overflow-y: scroll;
  #head{
    width: 96%;
    height: auto;
    left: 0px;
    padding: 0 0px;
  }
  #middle{
    margin-top:10px;
    margin-bottom:70px;
    position:relative;
    width:100%;
    float:left;

  }
  #foot{
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 10px;
    left: 0px;
    float:left;
  }
}
#signInContainer{
  position:fixed;
  width:100%;
  height:100%;
  background: #eee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,1);
  z-index: 2000;
  overflow:block;
}
.signIn_box{
  background:#FFF;
  overflow:hidden;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  #head{
    width: 96%;
    height: 0px;
    left: 0px;
    padding: 0 10px;
  }
  #middle{
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    width:100%;
    float:left;

  }
  #foot{
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 10px;
    left: 0px;
    float:left;
  }
  input{
    margin: 20px 0;
  }
  #signInBtn{
    background:#37addf;
  }
  #signInBtn:hover{
    background:deepskyblue;
  }
  #warning{
    color:red;
  }
}

//the menu of add photo popup
.menuContainer{
  position:relative;
  width:100%;
  height:auto;
  .menuItem{
    cursor:default;
    float:left;
    margin:6px;
    color: #d6d6d6;
    border-bottom: 4px solid #d6d6d6;
  }
  .menuItem:hover{
    color: black;
  }

  .focus{
    color: #A89676;
    border-bottom: 4px solid #A89676;
  }
  .focus:hover{
    color: #A89676;
  }
}


//yes or no popup
.yes_no{
  #msg{
    position:relative;
    width:100%;
    text-align: center;
    color:darkslategrey;
  }
  .save_cancel_container{
    position:relative;
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 42px;
    //width: 93.5%;
    height:auto;
    #cancel_btn{
      position:relative;
      background: #926d6d;
      float:left;
      width:70px;
    }
    #confirm_btn{
      position:relative;
      background: #37addf;
      float:right;
      width:auto;
    }
  }
}