@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

#ulContainer{
  width: 92%;
  margin: 0px auto;
  overflow: hidden;
  max-width: 966px;
  min-width: 395px;
}
#subTopBarContainer{
  position:fixed;
  width:100%;
  height:38px;
  background: #A89676;
  margin: 0px auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:1000;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size:13px;

  ul{
    float: left;
    padding: 9px 0;
    list-style: none;
    margin: 0 0 0 25px;
    -webkit-transition: margin-left 1s linear;
    -moz-transition: margin-left 1s linear;
    -o-transition: margin-left 1s linear;
    transition: margin-left 1s linear;
    li{
      float: left;
      margin-right: 19px;
      cursor: pointer;
      -webkit-transition: margin-right 1s linear;
      -moz-transition: margin-right 1s linear;
      -o-transition: margin-right 1s linear;
      transition: margin-right 1s linear;
      a{
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        font-smoothing: antialiased;
        color: #fff;
        display: inline-block;
        padding: 1px 17px 8px 6px;
        //background: url(../images/sub_menu_logo.png) no-repeat 10px 6px;
        text-decoration: none;
      }
    }
  }

}

#subTopBarContainer ul li[data-icon=guests] a, #subTopBarContainer ul li[data-icon=guests].current:hover a, #subTopBarContainer ul li[data-icon=guests].inactive:hover a{
  background-position: 10px 6px;
  color:#696969;
}
#subTopBarContainer ul li[data-icon=messaging] a, #subTopBarContainer ul li[data-icon=messaging].current:hover a, #subTopBarContainer ul li[data-icon=messaging].inactive:hover a{
  background-position: 10px -114px;
  color:#696969;
}
#subTopBarContainer ul li[data-icon=content] a, #subTopBarContainer ul li[data-icon=content].current:hover a, #subTopBarContainer ul li[data-icon=content].inactive:hover a{
  background-position: 10px -174px;
  color:#696969;
}
#subTopBarContainer ul li[data-icon=setup] a, #subTopBarContainer ul li[data-icon=setup].current:hover a, #subTopBarContainer ul li[data-icon=setup].inactive:hover a{
  background-position: 10px -294px;
  color:#696969;
}

